.item_container {

  .item_img {
    height: 12rem;
    width: 20rem;
  }

  .item_main {
    margin: 3rem;


    .item_title {
      font-size: 1.4rem;
      font-weight: 500;
    }

    .item_desc {
      font-size: 9px;
      margin: 0.3rem 0;
    }
  }
}

