<div class="item_container d-lg-inline-flex d-m-flex">
    <div class="">
      <img src="{{item.img}}" class="item_img img-responsive" />
    </div>
    <div class="item_main">
      <h2 class="item_title">
        {{item.title}}
      </h2>
      <div class="item_desc">
        {{item.post}}
      </div>
      <div class="item_infobox">
        <span class="item_author">{{item.author}}</span>
        Was Published
        <span class="item_timestamp">{{item.date}}</span>
      </div>
    </div>
</div>