
<!--Header (not component)-->
<header class="header_wrapper">Header
  <div class="header_topbar">Topbar</div>
  <div class="header_navbar">Navbar
    <div class="header_navbar_btn">Option 1</div>
    <div class="header_navbar_btn">Option 2</div>
    <div class="header_navbar_btn">Option 3</div>
    <div class="header_navbar_btn">Option 4</div>
  </div>
</header>
<body>

  <div class="item_wrapper">
    <img src="" class="item_img" />
    <div class="item_title">
      Test Title 1
    </div>
    <div class="item_desc">
      Test Description Number One, Should Be Able To Wrap To The Next Line
    </div>
    <div class="item_infobox">
      <span class="item_author">Author</span>
      Was Published
      <span class="item_timestamp">10 min ago</span>
    </div>
  </div>

  <div class="sideCTA_wrapper">
    Call To Action Text
    <input class="sideCTA_input" type="text"/>
    <button class="sideCTA_button"></button>
  </div>


  <div class="belt_wrapper">
    <div class="belt_navbar">
      <div class="belt_navbar_btn">
        Beltnav 1
      </div>
      <div class="belt_navbar_btn">
        Beltnav 2
      </div>
      <div class="belt_navbar_btn">
        Beltnav 3
      </div>
      <div class="belt_navbar_btn">
        Beltnav 4
      </div>
    </div>

    <div class="belt_item">
      <div class="belt_shares">123</div>
      <div class="belt_hashtag">#example</div>
      <div class="belt_title">Example Belt Title</div>
    </div>
  </div>

  <div class="sidefact">
    <div class="item_title">
      Test Title 1
    </div>
    <div class="item_desc">
      Test Description Number One, Should Be Able To Wrap To The Next Line
    </div>
    <img src="" class="item_img" />
    <div class="item_infobox">
      <span class="item_author">Author</span>
      Was Published
      <span class="item_timestamp">10 min ago</span>
    </div>
  </div>
</body>
  <!--Top Bar-->
    <!--Dropdown-->
    <!--Search-->
    <!--Header Btn-->
  <!--Nav Bar-->
    <!--Nav Option-->

<!--Body (not component)-->
  <!--Item-->
  <!--Bodybelt-->
    <!--Beltitem-->
    <!--Beltnav btn-->
  <!--SidebarCTA-->
  <!--Sidebar Factoid-->




<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
<!--<h1>-->
<!--Welcome to {{ title }} (Newsfeed)!-->
<!--</h1>-->
<!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->
<!--<h2>Here are some links to help you start: </h2>-->
<!--<ul>-->
<!--<li>-->
<!--<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>-->
<!--</li>-->
<!--<li>-->
<!--<h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>-->
<!--</li>-->
<!--<li>-->
<!--<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>-->
<!--</li>-->
<!--</ul>VK-->

<!--Header (not component)-->
<!--Top Bar-->
<!--Dropdown-->
<!--Search-->
<!--Header Btn-->
<!--Nav Bar-->
<!--Nav Option-->

<!--Body (not component)-->
<!--Item-->
<!--Bodybelt-->
<!--Beltitem-->
<!--Beltnav btn-->
<!--SidebarCTA-->
<!--Sidebar Factoid-->
