<div class="page-container container-fluid">

  <!--Header (not component)-->
  <header class="header_wrapper container-fluid">
    <div class="header_topbar row">Topbar</div>
    <div class="header_navbar row">Navbar -
      <div class="header_navbar_btn col-sm">Option 1</div>
      <div class="header_navbar_btn col-sm">Option 2</div>
      <div class="header_navbar_btn col-sm">Option 3</div>
      <div class="header_navbar_btn col-sm">Option 4</div>
    </div>
  </header>

  <main class="container-fluid">
    <div class="row">

      <app-itemlist></app-itemlist>
      <app-side-cta></app-side-cta>

    </div>


  <!--<div class="belt_wrapper">-->
    <!--<div class="belt_navbar">-->
      <!--<div class="belt_navbar_btn">-->
        <!--Beltnav 1-->
      <!--</div>-->
      <!--<div class="belt_navbar_btn">-->
        <!--Beltnav 2-->
      <!--</div>-->
      <!--<div class="belt_navbar_btn">-->
        <!--Beltnav 3-->
      <!--</div>-->
      <!--<div class="belt_navbar_btn">-->
        <!--Beltnav 4-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="belt_item">-->
      <!--<div class="belt_shares">123</div>-->
      <!--<div class="belt_hashtag">#example</div>-->
      <!--<div class="belt_title">Example Belt Title</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="sidefact">-->
    <!--<div class="item_title">-->
      <!--Test Title 1-->
    <!--</div>-->
    <!--<div class="item_desc">-->
      <!--Test Description Number One, Should Be Able To Wrap To The Next Line-->
    <!--</div>-->
    <!--<img src="" class="item_img" />-->
    <!--<div class="item_infobox">-->
      <!--<span class="item_author">Author</span>-->
      <!--Was Published-->
      <!--<span class="item_timestamp">10 min ago</span>-->
    <!--</div>-->
  <!--</div>-->
  </main>
</div>