<div class="page-container container-fluid">

  <!--Header (not component)-->
  <header class="header_wrapper container-fluid">
    <div class="header_topbar row">Topbar</div>
    <div class="header_navbar row">Navbar -
      <div class="header_navbar_btn col-sm">Option 1</div>
      <div class="header_navbar_btn col-sm">Option 2</div>
      <div class="header_navbar_btn col-sm">Option 3</div>
      <div class="header_navbar_btn col-sm">Option 4</div>
    </div>
  </header>

  <main class="container-fluid">
    <div class="row">

      <app-itemlist class="col-9"></app-itemlist>
      <app-side-cta class="col-3"></app-side-cta>

    </div>

  </main>
</div>